apiVersion: apps/v1
kind: Deployment
metadata:
  name: food-postgres
  namespace: food-order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: food-postgres
  template:
    metadata:
      labels:
        app: food-postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
        envFrom:
        - secretRef:
            name: postgres-secret
        volumeMounts:
        - name: init-sql
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: init-sql
        configMap:
          name: postgres-init
