apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-ui
  namespace: food-order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-ui
  template:
    metadata:
      labels:
        app: admin-ui
    spec:
      containers:
      - name: admin-ui
        image: gimhan764/smsa-1-admin-ui:1.3
        ports:
        - containerPort: 80

